[user]
	name = Peter T Bosse II
	email = ptb@ioutime.com
	signingkey = 9C999C32EAC4AF21
[alias]
	cm = commit --allow-empty-message --message=
	co = checkout
	st = status
[push]
	default = simple
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[core]
	excludesfile = /Users/ptb/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
